* {
  margin: 0;
  font-family: 'Manrope',sans-serif;
}

header{
  height: 100px;
  width: 100%;
  background-color: #900c3f;
  display: flex;
  z-index: 9999;
  opacity:0.9;  
  
  margin-bottom: 10px;
  border: 1.5px solid #edffea;
  border-radius: 15px;

}

img {
  border:1px solid white;
  border-radius: 5%;
}

#head_nav{
  height: 100px;
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.header_member{
    margin: 5px;
}

#main_logo_image
{
  border:1px solid white;
  height:70px;
  width: 70px; 
  margin: 5px 5px 5px 3px;
  border-radius: 50%; 
  opacity: 2;
}
#fav_container{
    font-size: 20px;
    color: white; 
  height:20px; 
  width: 1.8rem;
  margin: 30px 5px 25px 5px;  

}
#leftmost-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

}
#search_bar{
  width: 35%;
}
#search_bar_box{

  height:20px; 
  width: 90%;
  margin: 28px 5px 18px 5px;  
  border-radius: 10px;
  box-shadow: 0 5px 15px #ff7c7c, 0 0 0 5px #ffffffeb;
    
}

#notification_icon{
  height: 20px;
  width: 20px;
  margin: 30px 5px 25px 5px;
}

#login_icon{
  border-radius: 55px;
  border: 1px solid grey;
  height: 38px;
  width: 38px;
  margin: 25px 5px 25px 5px;
  background-position: center;
}

#singer-customized-container {
  position: absolute;
  top: 100px;
  margin-top: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}
main {
  width: 65%;
  height: auto;
  margin-top: 2vh;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #696F85;
}
main #singer-intro {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#singer-profile-image {
  
  height: 100%;
  width: 35%;


}
.singer-profile-description {
  margin-top:auto;
  margin-right: 5px;
  width: 60%;
  color: white;
  height: auto;
  overflow: hidden;
}
.singer-description-elements {
  margin:2px 2px;
  padding:1.5px 1.5px;
}
main div #singer-short-info {
  font-size: 0.8em;
}
.singer-profile-description #singer-additional {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

}
.singer-profile-description  h5 {
  margin-top:5px;
  padding-top: 18px;
  margin-right:5%;
  margin-left:5%;

}
.singer-profile-description button {
  width:200px;
  height:40px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  
  border-radius: 5px;
}

/* Styling the Singer specific playlist */
  
.singer-songs {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  background-color: #C2BEBA ;
  box-shadow: 2px 5px 2px #ADA9A5;
  border-radius: 5px;
}
.song-display-image {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-right: 5px;
 
}
.song-display-image img {
  height: inherit;
  width: inherit;
}
.song-detail {
  height:10vh;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
.song-detail a {
  margin-top: 15px;
  color: white;
  font-weight: 1.5em;
  text-decoration: none;
}
.song-detail a:visted {
  color: white;
}
.like-follow-icons {
  margin-top: 15px;
  margin-right:15px;
}

aside {
  margin-top: 2vh;
  padding-top: 5vh;
  width: 35%;
  height: 120vh;
  box-shadow: 2px 2px 8px #696F85;
}

/*--Dropdown---*/
aside #right-menu{
  display: inline-block;
}
#right-menu  div{
  display: inline-block;
  margin-left: 35px;
  margin-right: 10px;
}
#right-menu div p{
  display: inline-block;
}
#rmenu-header p{
  font-size: 1.5em;
  color: white;
  font-family: 'Manrope',sans-serif;
}

#header-dropdown p{
  color:#cfcbcb;
  margin-left: 150px;
  font-size: 0.8em;
}

.dropbutton{
  color: #cfcbcb;
  border:none;
  cursor: pointer;
  font-size: 0.6em;
  margin-left: 10px;
  top: -2%;
}

.dropdown-menu{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:#f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
  right:-40%;
  margin-right: 10px;
  margin-top: 2px;  
}

.dropdown-content a{
  color: black;
  text-decoration: none;
  display: block;
  margin: 10px;
  font-family: sans-serif;
}
.dropdown-content a:hover{
  background-color: #f1f1f1;
}
.dropdown-menu:hover .dropdown-content {
  display: block;
  transition: ease-in-out 0.5s;
}
.dropdown-menu:hover .dropbutton{
  color: white;
}
/*--playlist-content
        --*/
.right-menu-container{
  display:flex; 
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  
}
.playlist-content {
  height: 50px;
  width: 400px;
  margin:5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  margin-top: 20px;
}

.playlist-serialNo p{
  color: white;
  margin-right: 5px;
  margin-top: 15px;
}

.playlist-content div {
  margin-right: 15px;
}
.playlist-content div img{
  max-width: 100%;
  height: 50px;
  max-height: 100%;
  border-radius: 5px;
  border:1px solid white;
}
.playlist-extra {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.playlist-song-name{
  margin-top: 6px;
  margin-left: 5px;
}

.playlist-song-name p{
  color: #f1eeee;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0px;
}

.playlist-like-icon i{
  margin: 15px;
  margin-left: 130px;
  color: lightgrey;

}

/* footer*/
#music_control{
  background-color: #900c3f;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  border:1px solid white;
  border-radius: 5px;
  margin-top: 150px;
  display:flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;

}
#left-music{
  display:flex;
  margin: 20px 5px;
  width: 32%;
}

#left-music-img{
  height: 40px;
  width: 10%;
  padding: 1px 3px 1px 10px;
  
}
#current-music-info{
  margin-left: 5px;
}

audio{
  width: 35%;
  margin-top: 7px;

}

#right-music{
  display: flex;
  position: relative;
  margin-left: 20%;
  margin-right: 5%;
  flex-direction: row;
  }
.player-option{
  height: 20px;
  width: 20px;
  margin: 20px 5px;

}
img:hover {
  transform: scale(1.1);
}


